@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

main {
    font-family: 'Raleway', Courier, monospace;
}
body {
    background-color: black;
    width: 1280;
    height: 786;
    font-family: 'Raleway', Courier, monospace;
    border: 0px; 
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Raleway', Courier, monospace;
    text-align: center !important;
    color:#5E8DEC;
    display: block  !important;
    width: 1280px;
}

h2 {
    text-align: center;
    color: white;
}

h4 {
    text-align: left;
    color: white;
    width: 880px;
    font-weight: normal;
    line-height: 1.6;
    padding: 20px 60px 0px 60px;
    background: black;
}

h5 {
    text-align: center;
    color: white;
}

p {
    color:white;
    text-align: center;
    width: 800;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

button {
    font-family: 'Raleway', Courier, monospace;
    background-color: transparent;
    color:white;
    outline: none;
    border:none;
}

.buttonClass {
    font-family: 'Raleway', Courier, monospace;
    font-size: 20px;
    background-color: #373255;
    color:#7878AB;
    width: 160px;
    height: 50px;
    border-radius: 30px;
}

div {
    font-size: 0.8em;
    color:white;
    width: 450px;
    height: 60px;
    background-color:#5E8DEC;
    padding: 30px !important;
    border-radius:16px;
    line-height: 1.6;
}