body {
    background-color: black;
    width: 1280;
    height: 786;
}
h2 {
    text-align: center;
    color: white;
    width: 1100;
}

h5 {
    text-align: center;
    color: white;
}

p {
    font-size: 14;
    color:white;
    text-align: center;
    width: 1100;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button {
    background-color: transparent;
    color:white;
    outline: none;
    border:none;
}


.APOD_v {
    width: auto !important;
    height: 350 !important;

    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
}

.APOD_h {
    width: 350 !important;
    height: auto !important;


    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
}