@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
body {
    background-color: black;
    width: 1280;
    height: 786;

    border: 0px; 
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: 'Raleway', Courier, monospace;
    text-align: center !important;
    color:#5E8DEC;
    display: block  !important;
    width: 1280px;
}

h4 {
    font-family: 'Raleway', Courier, monospace;
    text-align: center !important;
    color:#5E8DEC;
    display: block  !important;
    width: 1280px;
}

h5 {
    text-align: center;
    color: white;
}

p {
    color:white;
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

button {
    background-color: transparent;
    color:white;
    outline: none;
    border:none;
}

div {
    background:black;
    width: 440px;
    height: 10%;
    text-align: left;
    color: white;
    font-size: 0.8em !important;
    font-family: 'Raleway', Courier, monospace;
    /* font-style: italic; */
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
}

a {
    font-family: 'Raleway', Courier, monospace;
    color: yellow;
    width: 440px;
    text-align: center;
}