@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

body {
    background-color: black;
    width: 1280;
    height: 786;

    border: 0px; 
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center !important;
    color: white;
    display: block  !important;
}

h3 {
    font-size: 32px;
    text-align: center;
    color: white;
    width: 400px;
    height: 40%;
    padding: 20px;
    line-height: 1.6;
    font-family: 'Raleway', Courier, monospace;
}


h4 {
    text-align: left;
    color: white;
    width: 400px;
    height: 480px;
    padding: 20px;
    line-height: 1.6;
    font-family: 'Raleway', Courier, monospace;
    font-weight: normal;
}

h5 {
    text-align: center;
    color: white;
    font-weight: normal;
}

p {
    color:white;
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

button {
    background-color: transparent;
    color:white;
    outline: none;
    border:none;
    font-family: 'Raleway', Helvetica, sans-serif;
}


div {
    background:black;
    width: 400px;
    height: 480px;
    text-align: center;
    color: white;
    font-size: 2em !important;
    font-family: 'Raleway', Courier, monospace;
    padding: 20px;
    border-radius: 10px;
}