body {
    background-color: black;
    width: 1280;
    height: 786;
}
h2 {
    text-align: center;
    color: white;
    width: 1000;
}

h5 {
    text-align: center;
    color: white;
}

p {
    font-size: 14;
    color:white;
    text-align: center;
    width: 1000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button {
    background-color: transparent;
    color:white;
    outline: none;
    border:none;
}


.APOD_v {
    width: auto !important;
    height: 400 !important;
}

.APOD_h {
    width: 400 !important;
    height: auto !important;
}