@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');

main {
    font-family: 'Raleway', Helvetica, sans-serif;
}
body {
    background-color: black;
    width: 1280;
    height: 786;
}

h1 {
    text-align: center !important;
    font-size: 2.5em;
    width: 1280px;
    color: white;
    display: block  !important;
    font-family: 'Raleway', Helvetica, sans-serif;
}

h4 {
    text-align: left;
    line-height: 1.6;
    color: white;
    width: 800px;
    font-family: 'Raleway', Helvetica, sans-serif;
}

p {
    color:white;
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', Helvetica, sans-serif;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

button {
    background-color: transparent;
    color:white;
    outline: none;
    border:none;
}

div {
    font-size: 0.8em;
    color:white;
    width: 500px;
    height: 80px;
    background-color:#5E8DEC;
    padding: 30px !important;
    border-radius:16px;
    line-height: 1.6;
    font-family: 'Raleway', Helvetica, sans-serif;
}