@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

body {
    background-color: black;
    width: 1280;
    height: 786;

    border: 0px; 
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center !important;
    color: white;
    display: block  !important;
    font-size: 1.5em;
}

h4 {
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: normal;
}

h5 {
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: normal;
}

p {
    color:white;
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

button {
    background-color: transparent;
    color:white;
    outline: none;
    border:none;
    font-family: 'Raleway', Helvetica, sans-serif;
}
